<div id="my_dashboard"><table>
<tr>
  <td id="slot_0">
    <div class="slot" id="slot_0">
      <%= @slot_0 %>
    </div>
  </td>
  <td id="slot_1">
    <div class="slot" id="slot_1">
      <%= @slot_1 %>
    </div>
  </td><td id="slot_2">
    <div class="slot" id="slot_2">
      <%= @slot_2 %>
    </div>
  </td>
</tr>
<tr>
  <td id="slot_3">
    <div class="slot" id="slot_3">
      <%= @slot_3 %>
    </div>
  </td>
  <td id="slot_4">
    <div class="slot" id="slot_4">
      <%= @slot_4 %>
    </div>
  </td><td id="slot_5">
    <div class="slot" id="slot_5">
      <%= @slot_5 %>
    </div>
  </td>
</tr>
</div>
